
$container-width: 90%;
$container-max-width: 856px;

$bg-color: #F1F1F5;
$panel-color: #FFFFFF;
$choosed-color: #3469F2;

$font-main-color: #1D353D;
$font-extra-color: #979898;

$border-color: #E8E8E8;


$border-radius: 13px;

$global-font-size: 15px;